* {
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-style: normal;
    font-size: 1.4em;
    font-weight: 400; /* normal */
    line-height: 150%;
    /* margin-top: 1.5em;
    margin-bottom: 1.5em; */
    /* box-sizing: border-box; */
}

* img {
    max-width: 80%;
    max-height: 80%;
}

/* Navigation & Footer */
header, footer {
    background-color: #00274C;
    padding: 3%;
}

header img{
    max-width: 7%;
    max-height: 7%;
    float: inline-start;
}

nav > ul, footer {
    display: flex;
    justify-content: space-between;
    font-size: 1.6em;
    padding: 2%; 
}

nav > ul li a, footer, .button a{
    color: #FFCB05;
    text-decoration: none;
    border-radius: 8px;  
}

nav ul li a:hover, footer a:hover, .button a:hover {
    text-decoration: underline;
    font-weight: 700;
}

footer a {
    text-decoration: underline;
    color: white;
}

  
/* Skip to main content */
.skip {
    position: absolute;
    top: -200px; 
}

.skip:focus {
    top: 20px; 
    color: #FFCB05;
}

/* Main Content */

h1 {
    font-weight: 800; /* bold */
    font-size: 2.5em;
    font-style: normal;
}

h2 {
    font-weight: 700;
    font-size: 1.8em;
    text-decoration: underline;
}

h3 {
    font-weight: 600;
    font-size: 1.4em;
}

h4 {
    font-weight: 500;
    font-size: 1.2em;
    font-style: italic;
}

h2, h3, h4, p, figcaption, ol {
    margin-bottom: 2%; 
}

#main-content {
    display: grid;
    grid-template-columns: 1fr;
    padding: 5%;
}

.button a {
    display: inline-block;
    background-color: #00274C;
    padding: 2%;
}

.about {
    padding: 5% 0 0 0;
}

.article-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; /* Creates a single row with one column per card */
    gap: 20px;                              
  }
  
.card {
    background-color: #f9f9f9; 
    border: 2px solid #00274C;    
    border-radius: 8px;        
    padding: 3%;             
    text-align: center;       
    box-shadow: 0 4px 4px rgba(0,0,0,0.1); 
}

